img {
  width: 100%;
  vertical-align: middle;
  border-style: none; }

.nav-img {
  width: auto;
  height: 60px !important; }

.main-img {
  width: auto;
  height: 120px !important; }

svg {
  overflow: hidden;
  vertical-align: middle; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 0.0625rem solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  max-width: 100%;
  height: auto; }

.video-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 0.0625rem solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  max-width: 100%;
  max-height: 7rem;
  height: auto; }

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }


/* Figures */
figure {
  margin: 0 0 1rem; }
  
.figure {
  display: inline-block; }

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1; }

.figure-caption {
  font-size: 90%;
  color: #8898aa; }