.profile-page .card-profile {
  margin-top: -150px; }
  .profile-page .card-profile .card-profile-image {
    position: relative; }
    .profile-page .card-profile .card-profile-image img {
      max-width: 180px;
      border-radius: 0.25rem;
      transform: translate(-50%, -30%);
      position: absolute;
      left: 50%;
      transition: all 0.15s ease; }
      .profile-page .card-profile .card-profile-image img:hover {
        transform: translate(-50%, -33%); }
  .profile-page .card-profile .card-profile-stats {
    padding: 1rem 0; }
    .profile-page .card-profile .card-profile-stats > div {
      text-align: center;
      margin-right: 1rem;
      padding: .875rem; }
      .profile-page .card-profile .card-profile-stats > div:last-child {
        margin-right: 0; }
      .profile-page .card-profile .card-profile-stats > div .heading {
        font-size: 1.1rem;
        font-weight: bold;
        display: block; }
      .profile-page .card-profile .card-profile-stats > div .description {
        font-size: .875rem;
        color: #adb5bd; }
  .profile-page .card-profile .card-profile-actions {
    padding: .875rem; }
  @media (max-width: 575.98px) {
    .profile-page .card-profile .card-profile-actions {
      margin-top: 110px; } }
  @media (min-width: 576px) and (max-width: 991.98px) {
    .profile-page .card-profile .card-profile-stats {
      margin-top: 30px; } }

.card-lift--hover:hover {
  transform: translateY(-20px);
  transition: all 0.15s ease; }
  @media screen and (prefers-reduced-motion: reduce) {
    .card-lift--hover:hover {
      transition: none; } }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .15s ease;
}